name: Run Scraper and Email

on:
  schedule:
    # Runs every 25 minutes
    - cron: '*/25 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Scraper
        env:
          MOODLE_USER: ${{ secrets.MOODLE_USER }}
          MOODLE_PASS: ${{ secrets.MOODLE_PASS }}
          GMAIL_USER: ${{ secrets.GMAIL_USER }}
          GMAIL_APP_PASS: ${{ secrets.GMAIL_APP_PASS }}
          TELEGRAM_LINK: ${{ secrets.TELEGRAM_LINK }}
          # NEW SECRETS FOR BREVO
          BREVO_USER: ${{ secrets.BREVO_USER }}
          BREVO_PASS: ${{ secrets.BREVO_PASS }}
        run: python main.py

      - name: Commit and Push History and Quota
        # We perform a pull first to avoid conflict errors if the repo changed
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git pull
          git add history.txt brevo_quota.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update history and quota" && git push)
